[submodule "submodules/mlx"]
	path = Source/Cmlx/mlx
	url = https://github.com/ekryski/mlx
	branch = alpha
[submodule "submodules/mlx-c"]
	path = Source/Cmlx/mlx-c
	url = https://github.com/ekryski/mlx-c
	branch = alpha
